{
  "plugins": [
    "lodash",
    ["@babel/plugin-transform-typescript", { "allowNamespaces": true }],
    "babel-plugin-macros",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
