{
  "plugins": [
    "babel-plugin-macros",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "presets": ["@babel/preset-typescript", "@babel/preset-react", "@babel/preset-env"]
}
